.question {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}

.question__text {
  font-size: 120%;
  text-align: right;
}

.question__answer {
  text-align: right;
  font-weight: bold;
}

.question__options {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}



