.smiley {
  width: 3rem;
  height: 3rem;
}

.smiley__face {
  stroke: #5a5a5a;
  stroke-width: 8;
  fill: #d7dcff;
}

.smiley__eyes {
  fill: #5a5a5a;
}

.smiley__mouth {
  fill: none;
  stroke:#5a5a5a;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
}